.x-table-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 0;
    min-height: 300px;

    .x-table-tools {
        margin-bottom: 15px;
    }


    .x-table-main {
        flex: auto;
        position: relative;
        height: 0;
    }


    .x-table-class {
        th {
            padding: 8px 0;
            background-color: whitesmoke;
            color: #000;
            white-space: nowrap;
        }
    }

    .x-table-footer {
        flex-shrink: 0;
        padding: 4px 0;
    }
}







.x-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.x-dialog {

    .el-dialog {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    }

    .el-dialog__header {
        font-weight: bold;
        padding: 20px;
        border-bottom: 1px solid #EBEEF5;
    }

    // 通用
    .x-dialog-body-common {
        .el-dialog__body {
            padding: 30px
        }
    }
    // 表单类型的dialog
    .x-dialog-body-form {
        .el-dialog__body {
            padding: 30px 85px 15px 0px;
        }
    }


    .el-dialog__footer {
        padding: 15px;
        border-top: 1px solid #EBEEF5;
    }

    .el-form {
        .el-form-item {
            margin-bottom: 18px;
        }

        .el-date-editor {
            width: 100%;
        }
    }
}
